@use "../../styles/base/typography" as *;
@use "../../styles/abstracts/variables" as *;

.homepage-card {
  background-color: white;
  height: 310px;
  width: 270px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 20px 40px rgba(114, 75, 203, 0.2);
  &__heading {
    font-size: 1.3rem;
    font-weight: 700;
    color: $page-sub-heading;
    font-family: $font-modern;
    text-align: center;
    width: 80%;
  }
}
