

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Jost:wght@700&family=Lato:ital@1&family=Mulish:wght@600&family=Poppins:wght@400;500;600;700&family=Space+Mono:wght@700&display=swap');

$font-homepage: 'Inter', sans-serif;
$font-mobilehome: 'Jost', sans-serif;
$font-modern: 'Poppins', sans-serif;
$font-tech: 'Space Mono', monospace;
$font-calendar: 'Lato', sans-serif;
$font-sortfilter: 'Mulish', sans-serif;