@use "../../styles/base/typography" as *;

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  margin-left: 1.25vw;

  &__image-container {
    padding-left: 3.5vw;
  }

  &__text {
    padding-left: 2vw;
    font-family: $font-modern;
    font-size: 0.65rem !important;
    color: #ffff;
    opacity: 50%;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
