@use "../../styles/base/typography" as *;

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  margin-right: 1vw;
  
  &__image-container {
    padding-left: 50px;
  }

  &__text {
    padding-left: 30px;
    font-family:$font-modern;
//    font-size:  1px !important;

  }
  &__content{
    display:flex;
    justify-content: center;
    align-items: center;
  }
}
