// This encompasses all of the Apps button stylings which you can access with the buttonStyle prop
//For the Headers on each page: buttonStyle = "isHeader", if there is a plus, add isPlus = {true}
//For the Login page:   buttonStyle = "isLogin"
//For the Home page:  No buttonStyle required, it is the default
//For the NavBar page:  No buttonStyle for Save, Cancel button is buttonStyle = "isCancel--grey"
//For Staff page:  Cancel button is buttonStyle = "isCancel--grey", No buttonStyle for Save, and follow Header styling on line 2.
//For Clients page:  Follow Header styling on line 2 for head buttons, for Cancel buttons buttonStyle = "isCancel--purple", for purple save buttons add buttonStyle = "isPurple", 
//For Clients page(cont): For upload button buttonStyle = "isUpload", for delete client buttons buttonStyle = "isDelete--cancel" and buttonStyle = "isDelete--confirm"
//For Resources page: Follow Header styling on line 2 for header buttons, for Save buttons buttonStyle = "isResourceSave", for request complete popup buttonStyle = "isRequestComplete"
//For Settings page: "Apply" button is the default no need for buttonStyle, Header buttons follow line 2 guidance.

.button{
    background-color: #E5C58A;
    box-shadow: 0px 20px 40px rgba(114, 75, 203, 0.2);
    border-radius: 7px;
    border-color: transparent;
    width: 165px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

//go,save,cancel, and the apply are default width and height
//Logn page button
.isLogin{
    height: 46px;
    width: 100%;
    border-radius: 4px;
    box-shadow: none;
    font-size: 12px;
    font-weight: 500;
}
//all the button in the headers on each pege ( save , creat , edit etc.)
.isHeader{
    height: 50px;
    width: 130px;
}

.noPlus{
    display: none;
}
//add plus to the button
.isPlus{
    position: relative;
    color: white;
    right: 16%;
    font-size: 25px;
}
//Request Resource pop-up - Home button
.isRequestComplete{
    width: 132px;
    height: 38px;
    font-size: 14px;
    border-radius: 5.5px;
    font-weight: 700;
    box-shadow: none;
}
//Edit/Request Resorce, Save button
.isResourceSave{
    width: 167.89px;
    height: 58.4px;
}
// add client upload image button
.isUpload{
    background: #F5F5F5;
    width: 145px;
    height: 39px;
    font-size: 12px;
    color: black;
    box-shadow: none;
}
// cancel buttons. booking pages, nav bar page , stuff page, client page.
.isCancel{
    &--grey{
        background-color: rgba(124, 118, 138, 0.25);
        box-shadow: none;
        font-weight: 700;
    }
    &--purple{
        background: #FFFFFF;
        border: 1px solid #724BCB;
        color: #724BCB;
        box-shadow: none;
        font-weight: 700;
    }
}
// delite client page pop-up buttons
.isDelete{
    &--cancel{
        border: 0.804878px solid #EE6161;
        color: #EE6161;
        font-size: 11.27px;
        width: 132px;
        height: 38px;
        border-radius: 5.6px;
        background-color: white;
        box-shadow: none;
    }
    &--confirm{
        background: #EE6161;
        font-size: 14px;
        width: 132px;
        height: 38px;
        border-radius: 5.6px;
        box-shadow: none;
    }
}
//Turns any button purple
.isPurple{
    background-color: #724BCB;
}

.inputIncomplete{
    background: rgba(229, 197, 138, 0.3); 
}

// if state is true = inputIncomplete
// if state is false = 