@use "../../styles/abstracts/variables" as *;
@use "../../styles/base/typography" as *;

.form-container {
  background-color: $color-white;
  margin: 20px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 40px;
  height: 340px;
  width: 840px;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
  }
}
.auto-purchase-container__label {
  color: $page-sub-heading;
}
label {
  color: $page-sub-heading;
}
.input-field {
  &__label {
    color: $page-sub-heading;
  }
}
.dropdown-field {
  &__label {
    color: $page-sub-heading;
  }
}
