// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

//colors
$text-color: #f3f2e8;
$background-color: #1f1b1b;

$color-white: #FFFFFF;
$color-black: #000000;

//login page
$login-background: #E5E5E5;
$login-text: #7B7B7B;

//navigation/header
$background-nav-header-light: #8AAAE5;
$background-nav-header-dark: #2E485B;
$background-nav-select: #2A5FC2;

//button
$button-enabled: #E5C58A;
$button-disabled: #7C768A;
$button-logout: #ee6161;

//pages
$page-heading: #2D3748;
$page-sub-heading: #102B3F;
$page-text: #95ACCB;
$page-sub-text: #595959;
$page-background-light: #F8F8FF;
$page-background-dark: #6A93B0;
$search-bar-background: #ebebf5;
$blank-client-image: #c4c4c4;





