@use '../../styles/abstracts/variables' as *;
@use '../../styles/base/typography' as *;




@media screen and (min-width: $tablet-breakpoint){
    .overlay {
        height: 35vh;
        width: 45vw;
        box-shadow: 0px 18.3391px 36.6782px rgba(0, 0, 0, 0.15);
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .overlay-text{
        text-align: center;
        font-family: $font-modern;
        font-size: 1.5rem;
        font-weight: 500;
        color: $page-sub-heading;
    }
    .overlay-buttons{
        
    }
}
