@use "../../styles/base/typography" as *;
@use "../../styles/abstracts/variables" as *;

.card-container {
<<<<<<< HEAD
<<<<<<< HEAD
  width:295px;
  min-height: 310px;
  height: auto;
=======
  width: 17vw;
  height: 35vh;
>>>>>>> 1555ec9a92dbd00a2981aa75f30708e674bf7551
=======
  width: 17vw;
  height: 35vh;
>>>>>>> 3b0aa13998d728b23fce5f6610624f29067bae7e
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 30px 40px rgba(114, 75, 203, 0.06);
  border-radius: 7px;

  &__image-container {
    margin-top: 10px;
<<<<<<< HEAD
<<<<<<< HEAD
    height:275px;
    padding: 20px;
    
=======
    height: 50%;
    margin-top: 10%;

>>>>>>> 1555ec9a92dbd00a2981aa75f30708e674bf7551
=======
    height: 15vh;
    margin-top: 10%;

>>>>>>> 3b0aa13998d728b23fce5f6610624f29067bae7e
    &--image {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      aspect-ratio:0.80;
    }
  }
  &__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh;

    &--name {
      font-size: 1.25rem;
      font-family: $font-modern;
      color: $page-sub-heading;
      font-weight: 700;
      text-align: center;
      margin: 0;
    }

    &--role {
      color: $page-text;
      font-size: 0.875rem;
      text-align: center;
      font-weight: 400;
      text-align: center;
      font-family: $font-modern;
      margin: 0;
    }
  }
}
@media screen and (max-width: 767px) {
  .card-container {
<<<<<<< HEAD
<<<<<<< HEAD
    margin:20px;
=======
    width: 70vw;
    height: 50vh;
>>>>>>> 1555ec9a92dbd00a2981aa75f30708e674bf7551
=======
    width: 45vw;
    height: 40vh;
    margin:20px;
>>>>>>> 3b0aa13998d728b23fce5f6610624f29067bae7e
    &__info-container {
      height: auto;
      &--name {
        font-size: 2rem;
      }

      &--role {
        display: none;
      }
    }
    &__image-container {
      height: 50%;
    }
  }
}