.input-field-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //align-items: space-evenly;
    padding: 20px;
    padding-left: 35px;
    gap: 16px;
    height: 600px;
    width: 982px;
    background-color: red;
}
.buttons{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.calendar{
    width: 200px;
}