@use "../../styles/abstracts/variables" as *;

.input-field-container{
    display: flex;
    flex-direction: column;
    padding-top: 33px;
    gap: 16px;
    background-color: white;  
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 150px;
  

    &__buttons{
        margin-top: 0px;
        display: none;
        gap: 20px;
    }
    &__calendar{
        display: none;
        margin-top: 30px;
        width: 339px;
    }
    &__submit{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 768px) {
  
      .input-field-container{
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20px;
        padding-left: 35px;
        gap: 16px;
        height: 600px;
        width: 982px;
        align-items: center;  
        background-color: $page-background-light;  
    
        &__staff-dropdown{
            width: 349px;
        }
        &__time-dropdown{
            width: 275px;
            margin-right: 60px;
        }
        &__date-dropdown{
            display: none;
        }
        &__submit{
            display: none;
        }
        &__buttons{
            display: flex;
            margin-top: 30px;
            gap: 20px;
        }
        &__calendar{
            display: flex;
        }
    }
}