.new-appointment{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header{
    width: 80vw;
    height: 140px;
    background-color: lightblue;
}
