@use "../../styles/base/typography" as *;
@use "../../styles/abstracts/variables" as *;

.client-page {
  display: flex;

  &__content {
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
  }

  &__header {
    height: 200px;
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    width: auto;
    color: $color-black;
  }
}
